* {
    margin: 0;
    padding: 0;
}



body{
  background: white;
  
}

.search {
  width: 150%;
  position: relative;
  right: 80px;
  display: flex;
}

.searchTerm {
  width: 80%;
  border: 3px solid #ffc93d;
  border-right: none;
  padding: 7px;
  height: 20px;
  border-radius: 7px 0 0 7px;
  outline: none;
  color: white;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 70px;
  height: 40px;
  border: 1px solid #ffc93d;
  background: #ffc93d;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
    
    position: absolute;
    top: 48%;
    left: 23%;
    
}


.main_text {
  font-size: 30px;
  font-family: Arial;
  position: absolute;
    top: 55%;
  left: 30%;

}

.text2 {
  font-family: Arial;
  position: absolute;
  top: 64%;
left: 30%;

}

.bluish_text {
  position: absolute;
  top: 64%;
left: 57%;
color: rgb(54, 153, 160);
font-family: Arial;
}

.razdely1 {
  font-family: Arial;
  position: absolute;
  top: 70%;
  left: 30%;
  line-height:35px;
 }

.razdely2 {
  font-family: Arial;
  position: absolute;
  top: 70%;
  left: 50%;
  
  line-height:35px;
}

.bottom {
  font-family: Arial;
  position: absolute;
  top: 100%;
  left: 23%;
  word-spacing: 10px;
  color: grey;
  font-size: 15px;
}